/* ----------------------------------------------------------------------------------------------------- */


/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

.icon-size-32 {
    width: 8rem !important;
    height: 8rem !important;
    min-width: 8rem !important;
    min-height: 8rem !important;
    font-size: 8rem !important;
    line-height: 8rem !important;
}

.icon-size-25 {
    width: 6rem !important;
    height: 6rem !important;
    min-width: 6rem !important;
    min-height: 6rem !important;
    font-size: 6rem !important;
    line-height: 6rem !important;
}