
.mat-column-actions {
    width: 15%;
    max-width: 15%;
    padding-right: 24px;
    text-align: center;
}
.mat-row .mat-cell {
    cursor: pointer;
}
/* Put this code in your CSS file, e.g. app.component.css */

/* The div container */
.qrcodeImage {
    display: flex;
    flex: 1;
  }
  
  /* Add custom styles here */
  .center {
    display: flex;
    flex: 1;
    justify-content: center;
  }