<h2 mat-dialog-title>{{action=='new'?'Ajouter un client':'Modifier le client '+client.nom+' '+client.prenom}}</h2>
<mat-dialog-content class="  sm:p-6 w-full">


    <form class=" " [formGroup]="clientForm">
        <div class="flex flex-col w-full ">

            <div class="flex">

                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Type Personnel</mat-label>
                    <mat-select [formControlName]="'typeclient'" required>
                        <mat-option [value]="'ORDINAIRE'">ORDINAIRE</mat-option>
                        <mat-option [value]="'ENTREPRISE'">ENTREPRISE</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2 pr-2">
                    <mat-label>Numero Compteur</mat-label>
                    <input matInput [formControlName]="'numerocompteur'" required>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2 pr-2">
                    <mat-label>Ancien Index</mat-label>
                    <input matInput [formControlName]="'ancienindex'" required>
                </mat-form-field>

            </div>

            <div class="flex">

                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Nom</mat-label>
                    <input matInput [formControlName]="'nom'" required>
                </mat-form-field>

                <mat-form-field class="w-1/3 pl-2 pr-2">
                    <mat-label>Prénom(s)</mat-label>
                    <input matInput [formControlName]="'prenom'" required>
                </mat-form-field>

            </div>
            <div class="flex">

                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Genre</mat-label>
                    <mat-select [formControlName]="'genre'" required>
                        <mat-option [value]="'HOMME'">HOMME</mat-option>
                        <mat-option [value]="'FEMME'">FEMME</mat-option>
                        <mat-option [value]="'ENTREPRISE'">ENTREPRISE</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="w-1/3 pr-2">
                    <mat-label>Date naissance</mat-label>
                    <input type="date" matInput [formControlName]="'datenais'" required>
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2 pr-2">
                    <mat-label>Lieu de naissance</mat-label>
                    <input type="text" matInput [formControlName]="'lieunais'">
                </mat-form-field>

            </div>
 

            <div class="flex">
                <mat-form-field class="w-1/3 pl-2 pr-2">
                    <mat-label>Téléphone</mat-label>
                    <input matInput [formControlName]="'telephone'">
                </mat-form-field>

                <mat-form-field class="w-1/3 pl-2">
                    <mat-label>E-mail</mat-label>
                    <input matInput [formControlName]="'email'">
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2">
                    <mat-label>Cnib</mat-label>
                    <input matInput [formControlName]="'cnib'">
                </mat-form-field>

            </div>

            <div class="flex">
                <mat-form-field class="w-1/3 pl-2 pr-2">
                    <mat-label>Longitude</mat-label>
                    <input matInput [formControlName]="'longitude'">
                </mat-form-field>
                <mat-form-field class="w-1/3 pl-2">
                    <mat-label>Latitude</mat-label>
                    <input matInput [formControlName]="'latitude'">
                </mat-form-field>
                <div class="w-1/3 pl-2">
                    <button class="shadow rounded-2xl overflow-hidden cursor-pointer mt-2 ml-2 bg-card  bg-green-900" mat-stroked-button (click)="getLocation()">
                        <mat-icon style="color: white;" svgIcon="iconsmind:location"></mat-icon> &nbsp;
                    </button> {{(precision | number: '1.0-0')  + ' mètres'}}
                    
                    <button class="shadow rounded-2xl overflow-hidden cursor-pointer mt-2 ml-2 bg-card  bg-red-900" mat-stroked-button (click)="openInGoogleMaps()">
                        <mat-icon style="color: white;" svgIcon="iconsmind:map"></mat-icon> &nbsp;
                    </button>
                </div>

            </div>
            <div class="flex">
                <mat-form-field class="w-2/3 pr-2">
                    <mat-label>Observation</mat-label>

                    <textarea matInput [formControlName]="'observation'"></textarea>
                </mat-form-field>
            </div>
        </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Annuler</button>
    <button mat-button (click)="onSubmit()" [disabled]="!clientForm.valid">
        {{action=='new'?'Enregister':'Modifier'}}</button>
</mat-dialog-actions>